* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

@font-face {
    font-family: 'Megatrans';
    src: url('files/MegatransdemoRegular-8M9B0.otf');
}

.textFormat {
    font-size: 24px;
    font-family: Verdana;
    background-color:lightgrey;
}

.nameCard {
    font-family: Megatrans;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: white;
    text-align: center;
}

.buffer {
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.center {
    text-align:center;
}

.inlineImage {
    width: 24px;
    height: 24px;
    margin: 0;
}

.arrow {
    position: absolute;
    visibility: hidden;
    margin-left: 50%;
    background: transparent;
    bottom: 0;
}

.earth {
    background-image: url("files/images/earth.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: 170vh;
}

.links {
    text-align:center;
    background-color: black;
    color: white;
}

.background {
    background-image: url("files/images/background.jpg");
    height: 170vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}