/* Correctly formats page removing old border */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

 /* Unvisited link */
 a:link {
    color: #0a66c2;
  }
  
  /* Visited link */
  a:visited {
    color: gray;
  }
  
  /* When mousing over link */
  a:hover {
    color: red;
  }

@font-face {
    font-family: 'Megatrans';
    src: url('files/Megatrans.otf');
}

@font-face {
    font-family: 'Consolas';
    src: url('files/Consolas.ttf');
}

/* Namecard text */
h1 {
    font-family: Megatrans;
    font-size: 48px;
    color: white;
    text-align: center;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

/* About Me tab text */
h2 {
    font-family: Consolas;
    font-size: 48px;
    color: white ;
    text-align: center;
}

/* Green text in bio */
h3 {
    font-family: Consolas;
    font-size: 24px;
    color: #5f8e43;
    font-style: normal;
}

p {
    line-height: 1.6;
    margin: 10px 0;
}

.textFormat {
    font-family: Consolas;
    font-size: 24px;
    color: white;
    text-align:center;
    background-color: black;
}

.main {
    background: #1f1f1f;
    top: 0;
    left: 0;
    width: 100%;
    overflow: auto;
}

/*

    This is the Header Section

*/

/* Text above earth */
.header__namecard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Arrow that appears to indicate scrolling */
.header__arrow {
    position: absolute;
    visibility: hidden;
    background: transparent;
    bottom: 0;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Space background */
.header__background {
    background-image: url("files/images/background.avif");
    height: 170vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}

/* Earth image */
.header__earth {
    background-image: url("files/images/earth.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: 170vh;
}

/* Transitions from header to bio */
.header__transition {
    background: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 25vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

/*

    This is the Bio Section
    
*/

.bio__background {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}

/* About Me tab at top of bio */
.bio__banner {
    color: white;
    float: left;
    line-height: 48px;
    height: 48px;
    padding-left: 50px;
    padding-right: 50px;
    background: black;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    z-index: 1;    
}

.bio__banner:after {
    content: '';
    position: absolute;
    height: 0px;
    width: 40px;
    top: 0;
    right: -48px;
    border-top: 48px solid black;
    border-right: 48px solid transparent;
    z-index: -10;
}

.bio__skills {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.bio__skills li {
    background: #213164;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
}

.bio__subsection {
    margin: 2vh;
    padding: 0px 5vh 35px 5vh;
    text-align: left;
}

/* Transitions from bio to footer */
.bio__transition {
    box-shadow: 0 -35px 20px rgba(0, 0, 0, 0.8);
    margin-bottom: 3vh;
    margin-top: 3vh;
}

/* The transparent space around the About Me tab in bio */
.bio__transparent {
    background: transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: 12vh;
}

/*

    This is the Footer Section

*/

/* For the button links at the bottom */
.inlineImage {
    height: 40px;
    aspect-ratio: 1/1;
}

.button {
    border: none;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 4px;
    height: 60px;
    width: fit-content;
    white-space: nowrap;
    opacity: 1;
    transition: 0.3s;
}

.button:hover {
    opacity: 0.7;
}

button > img,
button > span {
    vertical-align: middle;
    text-align: center;
}

.github {
    background-color: gray;
}

.linkedin {
    background-color: #0a66c2;
}

.gmail {
    background-color: #a83025;
}