* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

 /* unvisited link */
 a:link {
    color: #0a66c2;
  }
  
  /* visited link */
  a:visited {
    color: gray;
  }
  
  /* mouse over link */
  a:hover {
    color: red;
  }

@font-face {
    font-family: 'Megatrans';
    src: url('files/Megatrans.otf');
}

h2 {
    color: #fff ;
    text-align: center;
    font-size: 48px;
    font-family: Megatrans;
}

h3 {
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
    font-family: Megatrans;
}

p {
    line-height: 1.6;
    margin: 10px 0;
}

.textFormat {
    font-size: 24px;
    font-family: Helvetica;
    text-align:center;
    background-color: black;
    color: white;
}

.nameCard {
    font-family: Megatrans;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: white;
    text-align: center;
}

.main {
    background: #dadff7;
    top: 0;
    left: 0;
    width: 100%;
    overflow: auto;
}

.earth__transition {
    background: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 25vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.bio__transparent {
    background: transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: 12vh;
}

.banner {
    color: white;
    float: left;
    line-height: 48px;
    height: 48px;
    padding-left: 50px;
    padding-right: 50px;
    background: black;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    z-index: 1;    
}

.banner:after {
    content: '';
    position: absolute;
    height: 0px;
    width: 40px;
    top: 0;
    right: -48px;
    border-top: 48px solid black;
    border-right: 48px solid transparent;
    z-index: -10;
}

.bio__body {
    background: transparent;
    margin-left: 5vw;
    margin-right: 5vw;
    border: none;
    text-align: left;
    padding: 35px 35px;
    list-style-position: inside;
    border-radius: 8px;
    container-type: inline-size;
}

.skills {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.skills li {
    background: #213164;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
}

.bio__subsection {
    background-color: #1a1a1a;
    margin: 2vh;
    border: none;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 500px;
    background-color: transparent;
}

.footer {
    box-shadow: 0 -35px 20px rgba(0, 0, 0, 0.8);
    margin-bottom: 3vh;
    margin-top: 3vh;
}

.inlineImage {
    width: 5vh;
    height: 5vh;
    margin: 0;
    display: inline-block;
}

.arrow {
    position: absolute;
    visibility: hidden;
    background: transparent;
    bottom: 0;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    border: none;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 3vh;
    border-radius: 4px;
    height: 8vh;
    width: fit-content;
    white-space: nowrap;
    opacity: 1;
    transition: 0.3s;
}

.button:hover {
    opacity: 0.7;
}

button > img,
button > span {
    vertical-align: middle;
    text-align: center;
}

.github {
    background-color: gray;
}

.linkedin {
    background-color: #0a66c2;
}

.gmail {
    background-color: #a83025;
}

.earth {
    background-image: url("files/images/earth.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: 170vh;
}

.header__background {
    background-image: url("files/images/background.jpg");
    height: 170vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}

.bio__background {
    background-image: url("files/images/whitebackground.jpg");
    height: 120vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}

.bio__button {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    transition: transform 0.5s ease;
    box-shadow: 20px 20px 20px rgba(19, 19, 26, 0.2);
    font-size: 20px;
    height: 100%;
    aspect-ratio: 1/1;
}

.text-hidden {
    opacity: 0;
    transition: opacity 0.5s ease;
    top: 50%;
    left: 0;
    padding: 35px 20vh 35px 5vh;
}

.revealed .bio__button {
    transform: translateX(calc(99cqw - 100%));
}

.revealed .text-hidden {
    opacity: 1;
}
